*{
	padding: 0;
	margin: 0;
	font-family: 'Prompt', serif;
}

body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: 74%;
	background-position-x: 180%;
}

h2{
	font-family: 'Roboto', serif;
	font-size: 28px;
	font-weight: 500;
	line-height: 1.1;
	color: #333;
	margin-bottom: 25px;
	margin-top: 5px;
}

form{
	display: inline-block;
	margin: 5px;
}

#form-container{
	text-align: center;
	width: 47.5%;
	position: absolute;
	padding: 18px 0;
}

.content-form{
	padding: 5px;
	margin: 5px;
}

.input-form{
	width: 215px;
	height: 25px;
	padding: 2px;
}

#message{
	max-width: 217px;
	max-height: 80px;
	padding: 2px;
}

#terms{
	font-size: 12px;
	color: #696969;
}

#button{
	width: 220px;
	height: 30px;
	border: none;
	background: #333;
	color: white;
	margin-top: 20px;
	font-size: 15px;
}

.span-text{
	display: none;
	position: absolute;
	padding: 5px;
	border: 1px solid #333;
	color: white;
	margin-left: 15px;
	background-color: #333;
	font-size: 13px;
}